# These users have approval access to all other resources (wildcard)
# 	Helpers wanted!
* @konflux-ci/kgc

sigs/fedora* @konflux-ci/fedora-sig-admins
sigs/community-outreach* @adambkaplan @eskultety @ralphbean
sigs/ai* @konflux-ci/ai-sig
